<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../libs/vue.min.js"></script>
    <script src="../extension_js/i18_string_name.js"></script>
    <script src="../extension_js/utils.js"></script>
    <script src="../extension_js/setting.js"></script>
    <script src="../extension_js/ua_list.js"></script>
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>
<div id="app">
    <div class="container">
        <div>
            <div class="block">
                <div class="title">{{domain}}</div>
            </div>
            <!--监测到的网址-->
            <div class="block" v-if="urls.length > 0">
                <div class="title flex-between-spaced">
                    {{ui.url_list}}
                    <div class="btn delete" @click.stop="clearUrls"></div>
                </div>
                <div class="url-list">
                    <div v-for="(item,index) in requestsList" :key="index" class="list-item">
                        <input :value="item.url" @focus="e=>e.currentTarget.select()"/>
                        <!--{{item.url}}-->
                    </div>
                </div>
            </div>
            <!--Cookies切换-->
            <div class="block">
                <div class="title flex-between-spaced">
                    {{ui.cookies}}
                    <div class="btn add" @click="saveCookie"></div>
                </div>
                <div class="content cookies">
                    <div v-for="(v,k) in data.cookies.cookies" :class="{selected:k===data.cookies.selected}"
                         @click="selectCookie(k)" class="flex-between-spaced"><span>{{k}}</span>
                        <div class="btn delete" @click.stop="deleteCookie(k)"></div>
                    </div>
                </div>
            </div>
            <!--UA切换-->
            <div class="block">
                <div class="title">User-Agent</div>
                <div class="content">
                    <select v-model="selectedUA">
                        <option value="default">{{ui.ua_default}}</option>
                        <optgroup v-for="(os, os_name) in ua_list" :label="os_name" :key="os_name">
                            <option v-for="(browser, name) in os" :value="os_name + '_' + name" :key="name">{{name}}
                            </option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <!--网络监测-->
            <div class="block">
                <div class="title flex-between-spaced">
                    {{ui.requests}}
                    <div class="btn add" @click="addRequest"></div>
                </div>
                <transition-group name="list" tag="div" class="content">
                    <div v-for="(value, index) in data.requests" :key="index" class="flex-between-spaced">
                        <input v-model.trim="data.requests[index]" @input="save"/>
                        <div class="btn delete" @click="deleteRequest(value)"></div>
                    </div>
                </transition-group>
            </div>
            <!--URL重写-->
            <div class="block">
                <div class="title flex-between-spaced">
                    {{ui.rewrite}}
                    <div class="btn add" @click="addRewrite"></div>
                </div>
                <div class="flex-between-around">
                    <span>名称</span>
                    <span>将</span>
                    <span>改写到</span>
                </div>
                <transition-group name="list" tag="div" class="content">
                    <div v-for="(value, index) in data.rewrites" :key="index" class="flex-between-spaced">
                        <div class="flex-between-spaced">
                            <input :value="value.name"
                                   @click="modifyRewriteOrRedirect(index, 'rewrites', 'name')"/>
                            <input :value="value.rule"
                                   @click="modifyRewriteOrRedirect(index, 'rewrites', 'rule')"/>
                            <input :value="value.value"
                                   @click="modifyRewriteOrRedirect(index, 'rewrites', 'value')"/>
                        </div>
                        <div class="btn delete" @click="deleteRewrite(index)"></div>
                    </div>
                </transition-group>
            </div>
            <!--Host 重定向-->
            <div class="block">
                <div class="title flex-between-spaced">
                    {{ui.redirect}}
                    <div class="btn add" @click="addRedirect"></div>
                </div>
                <div class="flex-between-around">
                    <span>名称</span>
                    <span>将</span>
                    <span>重定向到</span>
                </div>
                <transition-group name="list" tag="div" class="content">
                    <div v-for="(value, index) in data.redirects" :key="index" class="flex-between-spaced">
                        <div class="flex-between-spaced">
                            <input :value="value.name"
                                   @click="modifyRewriteOrRedirect(index, 'redirects', 'name')"/>
                            <input :value="value.rule"
                                   @click="modifyRewriteOrRedirect(index, 'redirects', 'rule')"/>
                            <input :value="value.value"
                                   @click="modifyRewriteOrRedirect(index, 'redirects', 'value')"/>
                        </div>
                        <div class="btn delete" @click="deleteRedirect(index)"></div>
                    </div>
                </transition-group>
            </div>
        </div>
    </div>
</div>
</body>
</html>